.main {
  background-size: cover;
  background-image: url("/image/blog_dolls-lights.png");
}

.header__container {
  margin-bottom: 75px;
}

.article-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.blog__article-item {
  margin-bottom: 100px;
}

.blog__article-item:nth-child(-n+2) {
  flex: 0 0 49%;
  width: 560px;
  height: 560px;
}

.blog__article-item:nth-child(-n+2) .blog__article .blog__desc {
  padding: 16px;
}

.blog__article-item:nth-child(-n+2) .blog__article .blog__desc .blog__name {
  font-size: 18px;
  line-height: 22px;
}

.blog__article-item:nth-child(n+3) {
  flex: 0 0 32.5%;
  width: 370px;
  height: 370px;
}

.blog__article-item:nth-child(n+3) .blog__article .blog__desc {
  padding: 16px;
}

.blog__article-item:nth-child(n+3) .blog__article .blog__desc .blog__name {
  font-size: 14px;
  line-height: 19px;
}

.blog__article {
  display: flex;
  align-items: flex-end;
  border: 3px solid #fff;
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: border, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.blog__article:hover,
.blog__article:focus {
  border: 3px solid var(--green-color);
  box-shadow: 0px 0px 29px #04E069;
}

.blog__article:active {
  border: 3px solid #fff;
  box-shadow: none;
}

.blog__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15%;
  width: 100%;
  background-color: rgba(	3.9, 3.9, 3.9, 0.8);
}

.blog__name {
  font-weight: 700;
}

.blog__article-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.blog__article-1 {
  background-image: url("/image/article1.png");
}

.blog__article-2,
.blog__article-7 {
  background-image: url("/image/article2.jpg");
}

.blog__article-3,
.blog__article-6 {
  background-image: url("/image/article3.jpg");
}

.blog__article-4 {
  background-image: url("/image/article4.jpg");
}

.blog__article-5,
.blog__article-8 {
  background-image: url("/image/article5.jpg");
}

.paginator {
	display: block;
	text-align: center;
	margin-bottom: 50px;
}
.paginator a {
	display: inline-block;
	border: solid 1px #fff;
	padding: 0 6px;
	height: 35px;
	min-width: 35px;
	line-height: 35px;
	margin: 0 6px;
	background: rgba(255,255,255,0.05);
	transition: all 0.5s ease;
}
.paginator a:hover {
	background: rgba(255,255,255,0.4);
}
.paginator a.active {
	border-color: var(--green-color);
	color: var(--green-color);
}

@media (max-width: 999px) {
  .header__container {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .header__container {
    margin-bottom: 30px;
  }
}
