.bg_dolls-lights {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-image: url("/image/contacts_dolls-lights.png");
}

.header__container {
  margin-bottom: 85px;
}

.section-contacts {
  margin-bottom: 170px;
}

.section-contacts__ques {
  font-size: 50px;
  font-weight: 800;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
}

.section-contacts__write {
  margin-bottom: 30px;
  font-size: 80px;
  font-weight: 800;
  line-height: 90px;
  text-align: center;
  color: var(--green-color);
  text-transform: uppercase;
}

.section-contacts__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("/image/contact-lines.svg");
}

.section-contacts__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  min-height: 385px;
}

.section-contacts__photo {
  display: block;
  margin-bottom: 40px;
  border: 8px solid var(--green-color);
  border-radius: 50%;
  width: 198px;
  height: 198px;
  background-repeat: no-repeat;
  background-size: contain;
  transition-property: border, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.section-contacts__contact:hover .section-contacts__photo {
  border: 8px solid #fff;
  box-shadow: 0px 0px 45px #04E069;
}

.section-contacts__photo-a {
  background-image: url("/image/contacts-photo-a.png");
}

.section-contacts__photo-p {
  background-image: url("/image/contacts-photo-p.png");
}

.section-contacts__name {
  margin-bottom: 7px;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-transform: capitalize;
}

.section-contacts__desc {
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 22px;
}

.section-contacts__contact-info:not(:last-child) {
  margin-bottom: 10px;
}

.section-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 22px;
  color: var(--green-color);
}

.section-contacts__text {
  border-bottom: 1px solid transparent;
  transition: border-bottom .3s ease-out;
}

.section-contacts__link:hover .section-contacts__text {
  border-bottom: 1px solid var(--green-color);
}

.section-contacts__icon {
  display: block;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-contacts__icon-tg {
  width: 22px;
  height: 18px;
  background-image: url("/image/telegram.svg");
}

.section-contacts__icon-vk {
  width: 25px;
  height: 16px;
  background-image: url("/image/vk.svg");
}

@media (max-width: 999px) {
  .header__container {
    margin-bottom: 65px;
  }
}


